.vscode
bin/gopkgs.exe
bin/dlv.exe
bin/go-outline.exe
bin/gomodifytags.exe
bin/gopkgs.exe
bin/goplay.exe
bin/gopls.exe
bin/gotests.exe
bin/impl.exe
bin/staticcheck.exe
pkg/*
bin/goimports.exe
bin/godef.exe
bin/dlv-dap.exe
bin/gocode-gomod.exe
